Repository Futura-Tickets/monorepo-futuratickets: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api, marketplace-api, access-api

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 40%
        threshold: 5%
        if_ci_failed: error

    patch:
      default:
        target: 50%
        threshold: 10%
        if_ci_failed: error

# Flags for different components
flags:
  admin-api:
    paths:
      - futura-tickets-admin-api/src/
    carryforward: true

  marketplace-api:
    paths:
      - futura-market-place-api/src/
    carryforward: true

  access-api:
    paths:
      - futura-access-api/src/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Ignore files/directories from coverage
ignore:
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/test/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.interface.ts"
  - "**/*.dto.ts"
  - "**/main.ts"

fix: resolve GitHub Actions submodules errors in CI/CD workflows
  .github/workflows/ci-cd.yml
  .github/workflows/ci-dev.yml
  .github/workflows/ci-feature.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci.yml
  .github/workflows/test-coverage.yml
Due: none

feat: complete production readiness - all critical blockers resolved
  PRODUCTION_READINESS.md
  futura-tickets-admin-api/src/main.ts
Due: none

fix: improve security scan to exclude documentation examples
  .github/workflows/ci.yml
Due: none

fix: resolve CI/CD workflow failures
  .github/workflows/ci.yml
  futura-tickets-admin-api/tsconfig.json
Due: none

fix: resolve TypeScript compilation errors in both APIs
  futura-market-place-api/src/Mail/mail.service.ts
  futura-market-place-api/src/config/sentry.config.ts
  futura-tickets-admin-api/tsconfig.json
Due: marketplace-api

fix: add moduleResolution to admin-api tsconfig
  futura-tickets-admin-api/tsconfig.json
Due: none

fix: temporarily disable src-hexagonal to resolve CI/CD builds
  futura-tickets-admin-api/src/app.module.ts
  futura-tickets-admin-api/swagger-spec.json
  futura-tickets-admin-api/tsconfig.json
Due: admin-api

docs: add comprehensive CI/CD fixes summary
  CI_CD_FIXES_SUMMARY.md
Due: none

fix: convert remaining absolute imports in Abstraction module
  futura-tickets-admin-api/src/Abstraction/abstraction.module.ts
  futura-tickets-admin-api/src/Abstraction/abstraction.service.spec.ts
  futura-tickets-admin-api/src/Abstraction/abstraction.service.ts
Due: admin-api

fix: add Stripe module files (were ignored by gitignore)
  futura-tickets-admin-api/src/Stripe/stripe.controller.ts
  futura-tickets-admin-api/src/Stripe/stripe.module.ts
  futura-tickets-admin-api/src/Stripe/stripe.service.ts
Due: admin-api

fix: update TicketSoldMailProcessor to match new service signature
  futura-market-place-api/src/Mail/mail.processor.ts
Due: marketplace-api

docs: document final solution for admin-api import conversion
  CI_CD_FIXES_FINAL_SOLUTION.md
Due: none

fix: add Jest setup files and configure reflect-metadata
  futura-access-api/package.json
  futura-access-api/test/setup.ts
  futura-market-place-api/package.json
  futura-market-place-api/test/setup.ts
  futura-tickets-admin-api/package.json
  futura-tickets-admin-api/test/setup.ts
Due: none

fix: use setupFiles instead of setupFilesAfterEnv for reflect-metadata
  futura-access-api/package.json
  futura-market-place-api/package.json
  futura-tickets-admin-api/package.json
Due: none

fix: remove useESM flag from ts-jest config to fix reflect-metadata resolution
  futura-access-api/package.json
Due: none

fix: move jest.setup.ts to project root for proper reflect-metadata loading
  futura-access-api/jest.setup.ts
  futura-access-api/package.json
  futura-market-place-api/jest.setup.ts
  futura-market-place-api/package.json
  futura-tickets-admin-api/jest.setup.ts
  futura-tickets-admin-api/package.json
Due: none

fix: add reflect-metadata to root package.json for monorepo compatibility
  package.json
Due: none

chore: update package-lock.json with reflect-metadata@0.2.2
  package-lock.json
Due: none

fix: add rxjs to root devDependencies for Jest compatibility
  package-lock.json
  package.json
Due: none

fix: restore moduleNameMapper for absolute imports in Jest config
  futura-access-api/package.json
  futura-market-place-api/package.json
Due: none

fix: align rxjs version with workspace dependencies (7.8.1)
  package-lock.json
  package.json
Due: none

fix: add moduleNameMapper to admin-api Jest config for absolute imports
  futura-tickets-admin-api/package.json
Due: none

fix: add rxjs moduleNameMapper to Jest config for proper subpath resolution
  futura-access-api/package.json
  futura-tickets-admin-api/package.json
Due: none

fix: correct rxjs path resolution for monorepo structure (../../node_modules)
  futura-access-api/package.json
  futura-tickets-admin-api/package.json
Due: none

fix: simplify Jest config to match marketplace-api (remove rxjs mapping)
  futura-access-api/package.json
  futura-tickets-admin-api/package.json
Due: none

fix: add @nestjs/common and @nestjs/testing to root devDependencies
  package-lock.json
  package.json
Due: none

fix: move rxjs to devDependencies in marketplace-api
  futura-market-place-api/package.json
  package-lock.json
Due: none

fix: move rxjs and reflect-metadata to root dependencies
  package-lock.json
  package.json
Due: none

feat(monitoring): add deployment script and update production readiness
  PRODUCTION_READINESS.md
  futura-market-place-v2/app/wishlist/page.tsx
  scripts/deploy-monitoring.sh
Due: none

fix(admin-api): resolve RxJS type conflicts with ts-expect-error directives
  docs/03-infrastructure/security/SECURITY_AUDIT_REPORT.md
  e2e/access/ticket-validation.spec.ts
  e2e/admin/event-creation.spec.ts
  e2e/marketplace/purchase-flow.spec.ts
  e2e/shared/fixtures.ts
  e2e/shared/test-helpers.ts
  futura-tickets-admin-api/src/Logger/http-logger.interceptor.ts
  futura-tickets-admin-api/src/Storage/storage.interceptor.ts
  futura-tickets-admin-api/src/main.ts
  futura-tickets-contracts-v2/PROJECT_STATUS.md
  package-lock.json
  package.json
  playwright.config.ts
Due: admin-api

fix: install dependencies from monorepo root in CI
  .github/workflows/test-coverage.yml
Due: none

fix(admin-api): resolve build failure with RxJS type checking and add security improvements
  futura-tickets-admin-api/package.json
  futura-tickets-admin-api/src/Account/dto/create-account.dto.ts
  futura-tickets-admin-api/src/Auth/guards/account.guard.ts
  futura-tickets-admin-api/src/FeatureFlags/feature-flag.decorator.ts
  futura-tickets-admin-api/src/FeatureFlags/feature-flags.controller.ts
  futura-tickets-admin-api/src/FeatureFlags/feature-flags.module.ts
  futura-tickets-admin-api/src/FeatureFlags/feature-flags.service.ts
  futura-tickets-admin-api/src/Logger/http-logger.interceptor.ts
  futura-tickets-admin-api/src/Mail/mail.service.ts
  futura-tickets-admin-api/src/main.ts
Due: admin-api

fix(apis): add Helmet.js security headers to access and marketplace APIs
  futura-access-api/package.json
  futura-access-api/src/main.ts
  futura-market-place-api/package.json
  futura-market-place-api/src/main.ts
  package-lock.json
Due: none

docs: update production readiness and security tracking
  PRODUCTION_READINESS.md
  docs/03-infrastructure/security/SECURITY_FIXES_APPLIED.md
  futura-access-api/src/Auth/guards/account.guard.ts
Due: access-api
